@charset "UTF-8";


* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: #FFC40D;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    width: 280px;
    height: 515px;
    border-radius: 20px;
    background-color: #E89C0C;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/pexels-cottonbro-studio-3585089.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

section#login > div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > h1 {
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411);
}

div#formulario > p {
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
    text-align: center;
}

form > div.campo {
    background-color: #FF8A00;
    border: 3px solid rgb(194, 167, 133);
    width: 100%;
    height: 40px;
    border-radius: 12px;
    margin: 5px 0px;
   
}

form > div.campo-login {
    background-color: #FF8A00;
    border: 3px solid rgb(194, 167, 133);
    width: 100%;
    height: 40px;
    border-radius: 12px 12px;
    margin: 5px 0px;
}

form > a.botao > span {
    font-size: 0.8em;
}

div > label {
    display: none;
}

div.entrar > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF8A00;
    font-weight: bold;
    color: black;
}

div.entrar > input[type=submit]:hover {
    background-color: #FFC40D;
    transition-duration: 0.3s;
}


div.campo > input {
    background-color: #FFC40D;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-13px);
}

div.campo-login > input {
    background-color: #FFC40D;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-13px);
}


div.campo-login > span {
    color: black;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > span {
    color: black;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}



div#formulario > p {
    font-size: 0.8em;
}


div.entrar > a.botao {
    background-color: #FF8A00;
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    margin-top: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

div.entrar > a.botao:hover {
    background-color: #FFC40D;
    transition-duration: 0.3s;
}

div.entrar > input {
    color: black;
}


